<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/static/draco/css/main_file.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
</head>
<body>
{% load i18n %}
<div class="wrapper">
    <header id="header" class="header lock-padding">
        <div class="header__container">
            <a href="" class="header__logo"><img alt="Логотип" src="/media/web_media/other/Icon_Logo.png"></a>
            <div class="header__menu menu">
                <div class="menu__icon">
                    <span></span>
                </div>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li><a href="/" class="menu__link">{% trans "Главная" %}</a></li>
                        <li>
                            <a href="javascript:void(0);" class="menu__link">{% trans "Коллекция" %}</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sub-list">
                                <li><a href="{% url 'dragons_catalog' %}" class="menu__sub-link">{% trans "Драконы" %}</a></li>
                                <li><a href="{% url 'homes' %}" class="menu__sub-link">{% trans "Жилища" %}</a></li>
                                <li><a href="{% url 'islands' %}" class="menu__sub-link">{% trans "Острова" %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu__link">{% trans "Ресурсы" %}</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sub-list">
                                <li><a href="{% url 'resource_elements' %}" class="menu__sub-link">{% trans "Элементы" %}</a></li>
                                <li><a href="{% url 'resource_symbols' %}" class="menu__sub-link">{% trans "Символы" %}</a></li>
                                <li><a href="{% url 'resource_food' %}" class="menu__sub-link">{% trans "Еда" %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu__link">{% trans "Справка" %}</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sub-list">
                                <li><a href="#popup_4" class="popup__link">{% trans "Калькулятор" %}</a></li>
                                <li><a href="#popup_5" class="popup__link">{% trans "Добавить дракона" %}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="menu__link">RU</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sub-list">
                                <li><a href="translate?code=ru" class="menu__sub-link">RU</a></li>
                                <li><a href="translate?code=en" class="menu__sub-link">EN</a></li>
                            </ul>
                        </li>
                        <li>
                            {% if request.user.is_authenticated %}
                            <a href="javascript:void(0);" class="menu__link">{% trans "Профиль" %}</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sub-list">
                                <li><a href="javascript:void(0);" class="menu__sub-link">{{ user.username }}</a></li>
                                <li><a href="javascript:void(0);" class="menu__sub-link">{% trans "Форум" %}</a></li>
                                <li><a href="{% url 'draconomania_store' %}" class="menu__sub-link">{% trans "Магазин" %}</a></li>
                                <li><a href="do_logout" class="menu__sub-link">{% trans "Выйти" %}</a></li>
                            </ul>
                                {% else %}
                                <a href="javascript:void(0);" class="menu__link">{% trans "Профиль" %}</a>
                            <span class="menu__arrow"></span>
                            <ul class="menu__sub-list">
                                <li><a href="javascript:void(0);" class="menu__sub-link">Гость онлайн</a></li>
                                <li><a href="javascript:void(0);" class="menu__sub-link">{% trans "Форум" %}</a></li>
                                <li><a href="{% url 'draconomania_store' %}" class="menu__sub-link">{% trans "Магазин" %}</a></li>
                                <li><a href="{% url 'see_register' %}" class="menu__sub-link">{% trans "Регистрация / Войти" %}</a></li>
                            {% endif %}
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__cart cart" tabindex="0">
                <div class="cart__text">
                    {% trans "Корзина" %}
                    <span class="cart__quantity">0</span>
                </div>
                <div class="cart-content">
                    <ul class="cart-content__list" data-simplebar>
                       <!-- <li class="cart-content__item">
                            <article class="cart-content__product cart-product">
                                <img src="/media/web_media/dragons/Апофис_взрослый.png" alt="Дракон" class="cart-product__img">
                                <div class="cart-product__text">
                                    <h3 class="cart-product__title">Божественный дракон Апофис</h3>
                                    <span class="cart-product__price">100 $</span>
                                </div>
                                <button class="cart-product__delete" aria-label="Удалить товар"></button>
                            </article>
                        </li> -->
                    </ul>
                    <div class="cart-content__bottom">
                        <div class="cart-content__fullprice">
                            <span>{% trans "Итого: " %}</span>
                            <span class="fullprice">$</span>
                        </div>
                        <button class="cart-content__btn" data-graph-path="modal" data-graph-animation="fadeInUp" data-graph-speed="700">{% trans "Перейти в корзину" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="page__base" {% if not wide %} style="height:1000px;" {% endif %}>
       {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="footer__container">
            <nav class="footer__menu">
                <ul class="menu__list">
                    <li><a href="#popup_1" class="popup__link">{% trans "Пользовательское соглашение" %}</a></li>
                    <li><a href="#popup_2" class="popup__link">{% trans "О нас" %}</a></li>
                    <li><a href="#popup_3" class="popup__link">{% trans "Контакты" %}</a></li>
                    <li><a href="javascript:void(0);" class="menu__link">2021, All website content subjected to copyright</a></li>
                </ul>
            </nav>
            <div class="time">{% trans "МСК" %}<div id="time"></div></div>
        </div>
    </footer>
    <div class="modal">
        <div class="modal__container order-modal" role="dialog" aria-modal="true" data-graph-target="modal">
            <div class="modal-content order-modal__content">
                <div class="order-modal__top">
                    <h2 class="order-modal__title">{% trans "Оформление заказа" %}</h2>
                    <span class="order-modal__number">{% trans "Заказ № 3456" %}</span>
                </div>
                <div class="order-modal__info">
                    <div class="order-modal__quantity order-modal__info-item">{% trans "Товаров в заказе:" %}<span></span></div>
                    <div class="order-modal__summary order-modal__info-item">{% trans "Общая сумма заказа:" %}<span></span></div>
                    <div class="order-modal__products order-modal__info-item">
                        <button class="order-modal__btn">{% trans "Состав заказа" %}</button>
                        <ul class="order-modal__list"></ul>
                    </div>
                </div>
                <form action="#" class="order-modal__form order">
                    <label class="order__label">
                        <span class="order__text">{% trans "Ваше имя" %}</span>
                        <input type="text" class="order__input">
                    </label>
                    <label class="order__label">
                        <span class="order__text">{% trans "Номер телефона" %}</span>
                        <input type="tel" class="order__input" placeholder="+375 (__)___-__-__">
                    </label>
                    <label class="order__label">
                        <span class="order__text">{% trans "Электронная почта" %}</span>
                        <input type="email" class="order__input" placeholder="post@gmail.com">
                    </label>
                    <button class="order__btn">{% trans "Оформить заказ" %}</button>
                </form>
            </div>
        </div>
    </div>
    <div id="popup_1" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#header" class="popup__close"><img src="/media/web_media/other/delete-round-button.png" alt="Закрыть окно"></a>
                <div class="popup__title">Заголовок</div>
                <div class="popup__text">Куча текста</div>
            </div>
        </div>
    </div>
    <div id="popup_2" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#header" class="popup__close"><img src="/media/web_media/other/delete-round-button.png" alt="Закрыть окно"></a>
                <div class="popup__title">Заголовок</div>
                <div class="popup__text">Куча текста</div>
            </div>
        </div>
    </div>
    <div id="popup_3" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#header" class="popup__close"><img src="/media/web_media/other/delete-round-button.png" alt="Закрыть окно"></a>
                <div class="popup__title">Заголовок</div>
                <div class="popup__text">Куча текста</div>
            </div>
        </div>
    </div>
    <div id="popup_4" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#header" class="popup__close"><img src="/media/web_media/other/delete-round-button.png" alt="Закрыть окно"></a>
                <div class="popup__title">Заголовок</div>
                <div class="popup__text">Куча текста</div>
            </div>
        </div>
    </div>
    <div id="popup_5" class="popup">
        <div class="popup__body">
            <div class="popup__content">
                <a href="#header" class="popup__close"><img src="/media/web_media/other/delete-round-button.png" alt="Закрыть окно"></a>
                <div class="popup__title">Заголовок</div>
                <div class="popup__text">Куча текста</div>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="static/Draco/js/simplebar.js"></script>
<script src="static/Draco/js/modal.js"></script>
<script src="static/Draco/js/swiper_style.js"></script>
<script src="static/Draco/js/main_modals.js"></script>
<script src="static/Draco/js/dragons_catalog.js"></script>
<script src="static/Draco/js/js_new_style.js"></script>
<script src="static/Draco/js/product_cart.js"></script>
</body>
</html>