{% extends 'Draco/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="wrapper__dragons_catalog">
        <div class="collection">
            <div class="collection__header">
                <div class="collection__search">
                    <form class="form-inline" action="">
                        <input class="form-control dragons__search" type="search" name="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="dragons__search-btn" type="submit">Найти</button>
                    </form>
                </div>
                <a href="/" class="collection__title">/ Ресурсы / Элементы</a>
            </div>
        </div>
        <div class="elements">
            <div class="text__about_resource">
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
            </div>
            <div class="elements__first-table table">
                <div class="table__info">
                    <div class="table__main_1"><p>Типы атак</p></div>
                    <div class="table__main_2">Символы, отображающие уровни силы атаки</div>
                    <div class="table__image">
                        <img src="/media/web_media/other/delete-round-button.png" alt="Элемент 1">
                    </div>
                    <div class="table__text">Целый зелёный меч (Зеленое кольцо ниже целевого дракона) — сильный уровень — бонус 50% урона.</div>
                    <div class="table__image">
                        <img src="/media/web_media/other/delete-round-button.png" alt="Элемент 2">
                    </div>
                    <div class="table__text">Нет меча (жёлтое кольцо ниже целевого дракона) — средний уровень — нет дополнительного урона.</div>
                    <div class="table__image image__last">
                        <img src="/media/web_media/other/delete-round-button.png" alt="Элемент 3">
                    </div>
                    <div class="table__text text__last">Сломанный красный меч (красное кольцо ниже целевого дракона) — слабый уровень —уменьшает урон на 50%.</div>
                </div>
            </div>
            <div class="text__about_resource">
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
            </div>
            <div class="elements__second-table table">
                <div class="table__info">
                    <div class="table__main_1 border__main">Влияние стихии</div>
                    <div class="table__main_2 border__second">
                        <img src="/media/web_media/other/delete-round-button.png" alt="Элемент 3">
                    </div>
                    <div class="table__text_main">Необходимый уровень для:</div>
                    <div class="table__text">Для открытия стихии необходим ВСТАВКА уровень</div>
                    <div class="table__text_main">Влияние на:</div>
                    <div class="table__text">ВСТАВКА количество базового здоровья</div>
                    <div class="table__text_main">Влияние на:</div>
                    <div class="table__text">ВСТАВКА количество базовой атаки</div>
                    <div class="table__text_main text__main_border">Бонус к:</div>
                    <div class="table__text text__border">ВСТАВКА базовому количеству золота/час</div>
                </div>
            </div>
            <div class="text__about_resource">
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
            </div>
            <div class="elements__third-table table">
                <div class="table__info_compare">
                    <div class="table__section_title">
                        <div class="table__title">Элемент<img src="/media/web_media/other/delete-round-button.png" alt="Слабый 1"></div>
                    </div>
                    <div class="table__section_main">
                        <div class="table__text_main">Атака</div>
                        <div class="table__text_main second-child">Защита</div>
                    </div>
                    <div class="table__section_secondary">
                        <div class="table__text_second">Сильный против:</div>
                        <div class="table__text_second">Слабый против:</div>
                        <div class="table__text_second">Устойчивый к:</div>
                        <div class="table__text_second">Уязвим для:</div>
                        <div class="table__text_second third-child">
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Сильный 1"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Сильный 2"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Сильный 3"></span>
                        </div>
                        <div class="table__text_second">
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Слабый 1"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Слабый 2"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Слабый 3"></span>
                        </div>
                        <div class="table__text_second">
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Устойчивый 1"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Устойчивый 2"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Устойчивый 3"></span>
                        </div>
                        <div class="table__text_second fourth-child">
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Уязвим 1"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Уязвим 2"></span>
                            <span class="table__elements"><img src="/media/web_media/other/delete-round-button.png" alt="Уязвим 3"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
