{% extends 'Draco/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="wrapper__dragons_catalog">
        <div class="collection">
            <div class="collection__header">
                <div class="collection__search">
                    <form class="form-inline" action="">
                        <input class="form-control dragons__search" type="search" name="search" placeholder="Поиск" aria-label="Поиск">
                        <button class="dragons__search-btn" type="submit">Найти</button>
                    </form>
                </div>
                <a href="/" class="collection__title">/ Ресурсы / Символы</a>
            </div>
        </div>
        <div class="elements">
            <div class="text__about_resource">
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
            </div>
            <div class="elements__second-table table">
                <div class="table__info">
                    <div class="table__main_1">Школы символов</div>
                    <div class="table__main_2">
                        <img src="/media/web_media/other/delete-round-button.png" alt="Еда">
                    </div>
                    <div class="table__text_main">школа 1</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main">школа 2</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main text__main_border">школа 3</div>
                    <div class="table__text text__border">ВСТАВКА</div>
                </div>
            </div>
            <div class="text__about_resource">
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
                <p>sglhmszshlamnhrflkmjnlkhamahlkmshlkmhslkmhsklmnkmsjkl</p>
            </div>
            <div class="elements__second-table table">
                <div class="table__info">
                    <div class="table__main_1">Силы каждой школы</div>
                    <div class="table__main_2">
                        <img src="/media/web_media/other/delete-round-button.png" alt="Еда">
                    </div>
                    <div class="table__text_main">Школа 1</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main">Символ 1</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main">Символ 2</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main">Символ 3</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main">Символ 4</div>
                    <div class="table__text">ВСТАВКА</div>
                    <div class="table__text_main text__main_border">Символ 5</div>
                    <div class="table__text text__border">ВСТАВКА</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
